:root {
    --color-accent: oklch(76.075% 0.09611 263.764); 
}

body {
    max-width: 100ch;
    margin-inline:auto;
    padding: 1em;
  }
  nav {
    display:flex;      
    padding:1.5rem;
    /*background-color: #C1C1E0;*/
    gap: 0.75em;
    margin-bottom: 1.0em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
  }

  nav a {
    flex: 1;
    
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.4em;
  }

  nav a.current {
    font-weight:bold;
    border-bottom: 0.4em solid oklch(70% 3% 200);
    padding-bottom: 0.4em;
  }
  
  nav a:hover{
    border-bottom: 0.5em solid var(--color-accent);
    padding-bottom: 0.4em;
  }

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}  

form input,
form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font: inherit;
  padding: 0.4em;
  margin-bottom: 1em;
}

form label {
  display: contents;
  grid-template-columns: subgrid;
  align-items:center;
}

form button {
  grid-column: 1 / -1;
  padding: 0.4em 1em;
  font: inherit;
  background-color: var(--color-accent);
  color: oklch(89.531% 0.02687 205.631);
  border-radius: 0.3em;
}
.projects{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(15em,1fr));
  gap: 1em;
}
.projects article{
  display:grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  margin:0;
  gap: 1em;
}

.projects h2{
  margin:0;
}
h1,h2,h3,h4,h5,h6{
  line-height: 1.1;
  text-wrap:balance;
}
h1{
  font-size: 400%
}
h2{
  font-size: 250%;
}

.resume{
  margin: 0;
  gap: 1em;
}
section{
  margin-bottom: 1.5em;
}

.resume article{
  padding:1em;
  background-color: antiquewhite;
}
.resume h2{
  font-size: 120%;
  color:antiquewhite;
}
.resume h3{
  font-size: 100%;
}

:root {
  color-scheme: light dark;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom: 2px solid var(--border-color);
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}
input, textarea, button, select {
  font-family: inherit;
}

#profile-stats dl {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
	margin: 2rem 0;
}

#profile-stats dt {
	grid-row: 1;
	text-transform: uppercase;
	font-size: 0.875rem;
	color: #666;
	font-weight: 600;
	letter-spacing: 0.05em;
}

#profile-stats dd {
	grid-row: 2;
	font-size: 3rem;
	font-weight: bold;
	margin: 0;
}

#projects-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}