:root {
    --color-accent: oklch(76.075% 0.09611 263.764); /* or adjust values for a color you like */
}

body {
    max-width: 100ch;
    margin-inline:auto;
    padding: 1em;
  }
  nav {
    display:flex;      
    padding:1.5rem;
    /*background-color: #C1C1E0;*/
    gap: 0.75em;
    margin-bottom: 1.0em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
  }

  nav a {
    flex: 1;
    
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.4em;
  }

  nav a.current {
    font-weight:bold;
    border-bottom: 0.4em solid oklch(70% 3% 200);
    padding-bottom: 0.4em;
  }
  
  nav a:hover{
    border-bottom: 0.5em solid var(--color-accent);
    padding-bottom: 0.4em;
  }
  input, textarea,button{
    font:inherit
  }
  form input, form textarea{
    width:100%;
    display:block;
    box-sizing: border-box;
  }
  form label{
    margin-block: 0.4em 0.4em;
    display: block;
  }
  form button{
    display:block;
  }